// Colors
$black: #303A52;
$white: #ffffff;
$ltgray: darken($white, 5%);
$gray: darken($white, 30%);

$green: #10DDC2;
$blue: #7045FF;
$red: #F85F73;
$gold: #FFBC65;

// Sizes
$tablet: 60rem;
$phone: 40rem;

// Settings
$radius: 8px;
